<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
  <style>
    #chart-wrapper {
      padding-top: 20px;
      padding-left: 2px;
      background: #fff;
      border: 1px solid #ddd;
      box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.1);
      max-width: 800px;
      margin: 35px auto;
    }

    #chart-line {
      position: relative;
      margin-top: -40px;
    }
  </style>

<script type="text/javascript">//<![CDATA[
/*
    var stxhr = new XHR();
    function to_ping(btnP, IP) {
            var target_ip = document.getElementById("IP-"+IP);
            btnP.blur();
            stxhr.get('<%=luci.dispatcher.build_url("admin", "wisun", "wisun_ping")%>/' + target_ip.innerHTML, null,
                function(x)
                {
                }
            );
    }
*/

    var stxhr = new XHR();

    stxhr.get('<%=luci.dispatcher.build_url("admin", "wisun", "get_data")%>', null,
        function (x) {
            if (x.responseText) {
                var rcv_humidity_data = [];
                var rcv_temperature_data = [];

                var selector = document.getElementById('node_addr_selector');
                var sdata = JSON.parse(x.responseText);
                for (x in sdata['mac_list']) {
                    var option = document.createElement('option');
                    option.value = sdata['mac_list'][x];
                    option.text = sdata['mac_list'][x].toUpperCase();
                    selector.add(option);
                }
                selector.selectedIndex = 0;

                selector = document.getElementById('created_at_selector');
                for (x in sdata['date_list']) {
                    var option = document.createElement('option');
                    option.value = sdata['date_list'][x];
                    option.text = sdata['date_list'][x];
                    selector.add(option);
                }
                selector.selectedIndex = 0;
                update_date(selector);

                selector = document.getElementById('node_addr_selector');
            }
        }
    );

    function update_date(s_options) {
        document.getElementById('load-bar').style.display="block";

        var s_value = s_options[s_options.selectedIndex].value;
        var node_selector = document.getElementById('node_addr_selector');
        var node_value = node_selector[node_selector.selectedIndex].value;
        stxhr.get('<%=luci.dispatcher.build_url("admin", "wisun", "update_date")%>/node=' + node_value + '&date=' + s_value, null,
            function (x) {
                if (x.responseText) {
                    var rcv_humidity_data = [];
                    var rcv_temperature_data = [];

                    var sdata = JSON.parse(x.responseText);
                    var y;
                    for (y in sdata) {
                        rcv_humidity_data.push({ x: sdata[y]['date'], y: sdata[y]['humidity']})
                        rcv_temperature_data.push({ x: sdata[y]['date'], y: sdata[y]['temperature']})
                    }

                    brushChart.updateOptions({
                        chart: {
                            selection: {
                                enabled: true,
                                xaxis: {
                                    min: new Date(sdata[y-Math.floor(y/20)]['date']).getTime(),
                                    max: new Date(sdata[y]['date']).getTime()
                                }
                            }       
                        } 
                    })
                    humidityChart.updateSeries([{data:rcv_humidity_data}])
                    temperatureChart.updateSeries([{data:rcv_temperature_data}])
                    brushChart.updateSeries([{data:rcv_humidity_data}])
                }
                document.getElementById('load-bar').style.display="none";
            }
        );
    }

    function update_node_mac(s_options) {
        document.getElementById('load-bar').style.display="block";

        var s_value = s_options[s_options.selectedIndex].value;
        stxhr.get('<%=luci.dispatcher.build_url("admin", "wisun", "update_node_mac")%>/' + s_value, null,
            function(x) {
                if (x.responseText) {
                    var sdata = JSON.parse(x.responseText);
                    var selector = document.getElementById('created_at_selector');
                    var j = selector.length;
                    for(i = 0; i < j; i++) {
                        selector.remove(selector[i])
                    }

                    for (y in sdata) {
                        var option  = document.createElement('option'); 
                        option.value = sdata[y];
                        option.text = sdata[y];
                        selector.add(option);
                    }
                    selector.selectedIndex = 0;
                    update_date(selector);
                }
                document.getElementById('load-bar').style.display="none";
            }
        ); 
    }
//]]></script>

<!--
<div id="loader" class="lds-hourglass" style="width:100%; float:center" align="center"></div>
-->
<form method="post" action="<%=pcdata(luci.http.getenv("REQUEST_URI"))%>">
<fieldset class="cbi-section" style="display:none">
	<legend><%:Reconnecting interface%></legend>
	<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
	<span id="ifc-rc-status"><%:Waiting for changes to be applied...%></span>
</fieldset>

<h2><a id="content" name="content">Data Center</a></h2>
<div id="load-bar" class="load-bar">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</div>
<br/>

<fieldset class="cbi-section" id="cbi-table-node">
    <!-- <div class="cbi-section-descr"></div> -->
    <div class="cbi-section-node">
        <div style="width:30%; float:left">
        
            <label>MAC Address</label>
            <select name="node_addr" id="node_addr_selector" style="width:auto" onchange="update_node_mac(this.options)">
            </select>
        </div>

        <div style="width:30%; float:left">
            <label>Date</label>
            <select name="created_at" id="created_at_selector" style="width:auto" onchange="update_date(this.options)">
            </select>
        </div>
    </div>

</fieldset>
</form>

<div id="chart-wrapper">
    <div id="temperature-line-chart">
    </div>
    <div id="humidity-line-chart">
    </div>
    <div id="brush-chart">
    </div>
</div>

<script type="text/javascript" src="<%=resource%>/apexcharts/apexcharts.js"></script>
<script>
    var humidity_data = []
    var temperature_data = []
    var step_num = 20;

    document.getElementById('load-bar').style.display="block";

    // The global window.Apex variable below can be used to set common options for all charts on the page
    Apex = {
        chart: {
            height: 240,
            type: 'line',
        },
        dataLabels: {
        },
        tooltip: {
            x: {
                format: 'yyyy-MM-dd hh:mm:ss'
            },
        },
        stroke: {
            width: 3,
            curve: 'straight'
        },
        datalabels: {
            enabled: false
        },
        fill: {
            opacity: 1,
        },
        markers: {
            size: 0
        },
    }
    
    function create_humidity_options (macID) {
        var h_options = {
                chart: {
                    id: 'humidity',
                    group: 'social',
                    toolbar: {
                        autoSelected: 'pan',
                        show: false
                    },
                },
                colors: ['#4C3BF4'],
                series: [
                {
                    name: "humidity",
                    data: humidity_data,
                }
                ],
                xaxis: {
                    type: 'datetime',
                    labels: {
                        show: true,
                    },
                    crosshairs: {
                        show: true,
                        width: 1,
                        stroke: {
                            color: '#0bc83e',
                            width: 1,
                            dasharray: 0,
                        }
                    },
                },
        }
        return h_options;
    }

    function create_temperature_options(macID) {
        var t_options = {
            chart: {
                id: 'temperature',
                group: 'social',
                toolbar: {
                    autoSelected: 'pan',
                    show: false
                },
            },
            colors: ['#C8530B'],
            series: [
            {
                name: "temperature",
                data: temperature_data,
            }
            ],
            xaxis: {
                type: 'datetime',
                labels: {
                    show: true,
                },
                crosshairs: {
                    show: true,
                    width: 1,
                    stroke: {
                        color: '#0bc83e',
                        width: 1,
                        dasharray: 0,
                    }
                },
            }
        }
        return t_options; 
    }

    var humidityChart = new ApexCharts(
        document.querySelector('#humidity-line-chart'),
        create_humidity_options('112233445566ACAD')
    );
    humidityChart.render();

    var temperatureChart = new ApexCharts(
        document.querySelector('#temperature-line-chart'),
        create_temperature_options('112233445566ACAD')
    );
    temperatureChart.render();

    var section_options = {
      chart: {
        id: 'section_chart',
        height: 130,
        //width: 800,
        type: 'area',
        brush:{
          target: 'humidity',
          enabled: true
        },
        selection: {
          enabled: true,
          xaxis: {
            min: 0,
            max: 0 
          }
        },       
      },
       stroke: {
            width: 1,
            curve: 'straight'
        },
      colors: ['#008FFB'],
      series: [{
        data: humidity_data
      }],
      fill: {
        type: 'gradient',
        gradient: {
          opacityFrom: 0.91,
          opacityTo: 0.1,
        }
      },
      xaxis: {
        type: 'datetime',
        tooltip: {
          enabled: false
        }
      },
      yaxis: {
        tickAmount: 2
      }
    }

    var brushChart = new ApexCharts(
      document.querySelector("#brush-chart"),
      section_options
    );

    brushChart.render();
  </script>
<%+footer%>
