<%+header%>

<%
local uci = luci.model.uci.cursor()
local model = uci:get('factory', 'oem', 'name')
%>
<script type="text/javascript" src="<%=resource%>/cbi.js"></script>

  <style>
    #chart-wrapper {
      padding-top: 20px;
      padding-left: 2px;
      background: #fff;
      border: 1px solid #ddd;
      box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.1);
      max-width: 800px;
      margin: 35px auto;
    }

    #chart-line {
      position: relative;
      margin-top: -40px;
    }
  </style>

<script type="text/javascript">//<![CDATA[

    XHR.poll(5, 
            '<%=luci.dispatcher.build_url("admin", "wisun", "node_table")%>', 
            null,
		    function(x) {

                if (x.responseText) {
                    var table = JSON.parse(x.responseText);
                    var tlist = document.getElementById("node-table");
                    var tnode = document.getElementById("table-descr").parentNode;
                 
                    while (tnode.children.length > 2) {
                        tlist.deleteRow(2);
                    };

                    for (y in table) {
                        var nobj;
                        nobj = tlist.insertRow(-1);
                        nobj.setAttribute("class", "cbi-section-table-row cbi-rowstyle-1");
                        
                        for (i = 0; i < 6; i++) {
                            let newCell;
                            newCell = nobj.insertCell(-1);
                            newCell.setAttribute("class", "cbi-value-field");
                        }
                        
                        nobj.cells[0].innerHTML = table[y]["INDEX"];
                        nobj.cells[1].innerHTML = table[y]["MAC Address"];
                        nobj.cells[2].innerHTML = table[y]["IP"];
                        nobj.cells[2].setAttribute("id", "IP-"+y);
                        nobj.cells[3].innerHTML = table[y]["Etx"];
                        nobj.cells[4].innerHTML = table[y]["RSSI"];
                        nobj.cells[5].innerHTML = '<input class="cbi-button cbi-button-apply" type="button" name="cbid.table.' + y + '._tool" id="cbid.table.' + y + '._tool" value="Ping" onclick="to_ping(this,' + y + ')"/><div></div>';

                        <% if model == 'DR_STORAGE' then %> 
                        var macID = table[y]["MAC Address"].replace(/:/g, '')
                        if (dataCenter[macID] == undefined) {
                            dataCenter[macID] = {};

                            // create div for new chart
                            var newDiv = document.createElement('div');
                            newDiv.id = 'chart-temperature-' + macID;
                            document.getElementById('chart-wrapper').appendChild(newDiv);

                            newDiv = document.createElement('div');
                            newDiv.id = 'chart-humidity-' + macID;
                            document.getElementById('chart-wrapper').appendChild(newDiv);
                            
                            createChart(macID);
                       }
                       <% end %> 
                    }

                }
            }
    );
    <% if model == 'DR_STORAGE' then %>
    XHR.poll(3,
            '<%=luci.dispatcher.build_url("admin", "wisun", "last")%>', 
            null,
            function(x) {
                if (x.responseText) {
                    var recvData = {};

                    var sdata = JSON.parse(x.responseText);
                    for (y in sdata) {
                        var macID = sdata[y]['macaddr'].toUpperCase().replace(/\./g, '-');
                        if (dataCenter[macID]) {
                            if (recvData[macID] == undefined) {
                                recvData[macID] = {};
                                recvData[macID].hData = [];
                                recvData[macID].tData = [];
                            }
                            recvData[macID].tData.push({ x: sdata[y]['date'], y: sdata[y]['temperature']})
                            recvData[macID].hData.push({ x: sdata[y]['date'], y: sdata[y]['humidity']})
                        }
                        else {
                            dataCenter[macID] = {};

                            // create div for new chart
                            var newDiv = document.createElement('div');
                            newDiv.id = 'chart-temperature-' + macID;
                            document.getElementById('chart-wrapper').appendChild(newDiv);

                            newDiv = document.createElement('div');
                            newDiv.id = 'chart-humidity-' + macID;
                            document.getElementById('chart-wrapper').appendChild(newDiv);
                            
                            createChart(macID);

                            if (recvData[macID] == undefined) {
                                recvData[macID] = {};
                                recvData[macID].hData = [];
                                recvData[macID].tData = [];
                            }
                            recvData[macID].tData.push({ x: sdata[y]['date'], y: sdata[y]['temperature']})
                            recvData[macID].hData.push({ x: sdata[y]['date'], y: sdata[y]['humidity']})
                        }
                    }
                    for (var key in dataCenter) {
                        if (recvData[key]) {
                            dataCenter[key].temperatureChart.updateSeries([{data: recvData[key].tData}]);
                            dataCenter[key].humidityChart.updateSeries([{data: recvData[key].hData}]);
                        }
                    }
                    document.getElementById('load-bar').style.display="none";
                }
            });
    <% end %>

    var stxhr = new XHR();
    function to_ping(btnP, IP) {
            var target_ip = document.getElementById("IP-"+IP);
            btnP.blur();
            stxhr.get('<%=luci.dispatcher.build_url("admin", "wisun", "wisun_ping")%>/' + target_ip.innerHTML, null,
                function(x)
                {
                }
            );
    }

//]]></script>

<form method="post" action="<%=pcdata(luci.http.getenv("REQUEST_URI"))%>">
<fieldset class="cbi-section" style="display:none">
	<legend><%:Reconnecting interface%></legend>
	<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
	<span id="ifc-rc-status"><%:Waiting for changes to be applied...%></span>
</fieldset>

<h2><a id="content" name="content">WiSUN Node</a></h2>

<% if model == "DR_STORAGE" then %>
<div id="load-bar" class="load-bar">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</div>
<% end %>

<fieldset class="cbi-section" id="cbi-table-node">
    <!-- <div class="cbi-section-descr"></div> -->
    <div class="cbi-section-node">
        <table class="cbi-section-table" id="node-table">
            <tr class="cbi-section-table-titles">
                <th class="cbi-section-table-cell"><%:INDEX%></th>
                <th class="cbi-section-table-cell"><%:MAC Address%></th>
                <th class="cbi-section-table-cell"><%:IP%></th>
                <th class="cbi-section-table-cell"><%:Etx%></th>
                <th class="cbi-section-table-cell"><%:RSSI%></th>
                <th class="cbi-section-table-cell"><%:Ping%></th>
            </tr>
            <tr class="cbi-section-table-descr" id="table-descr">
                <th class="cbi-section-table-cell"></th>
                <th class="cbi-section-table-cell"></th>
                <th class="cbi-section-table-cell"></th>
                <th class="cbi-section-table-cell"></th>
                <th class="cbi-section-table-cell"></th>
                <th class="cbi-section-table-cell"></th>
            </tr>
        </table>
    </div>

</fieldset>
</form>

<% if model == 'DR_STORAGE' then %>
<div class="cbi-map">
</div>
<h3 align="center">
</h3>
<div id="chart-wrapper">
</div>

<script type="text/javascript" src="<%=resource%>/apexcharts/apexcharts.js"></script>
<script>

    var dataCenter = {};
    var humidity_data = [];
    var temperature_data = [];

    document.getElementById('load-bar').style.display="block";

    // The global window.Apex variable below can be used to set common options for all charts on the page
    Apex = {
        chart: {
            height: 180,
            type: 'line',
        },
        dataLabels: {
        },
        tooltip: {
            x: {
                format: 'yyyy-MM-dd hh:mm:ss'
            },
        },
        stroke: {
            width: 3,
            curve: 'straight'
        },
        datalabels: {
            enabled: false
        },
        fill: {
            opacity: 1,
        },
        markers: {
            size: 0
        },
    }
    
    function create_humidity_options (macID) {
        var h_options = {
                chart: {
                    id: 'humidity' + macID,
                    group: 'social',
                    toolbar: {
                        autoSelected: 'pan',
                        show: false
                    },
                },
                colors: ['#4C3BF4'],
                series: [
                {
                    name: "humidity",
                    data: []
                }
                ],
                xaxis: {
                    type: 'datetime',
                    labels: {
                        show: true,
                    },
                    crosshairs: {
                        show: true,
                        width: 1,
                        stroke: {
                            color: '#0bc83e',
                            width: 1,
                            dasharray: 0,
                        }
                    },
                },
        }
        return h_options;
    }

    function create_temperature_options(macID) {
        var t_options = {
            chart: {
                id: 'temperature' + macID,
                group: 'social',
                toolbar: {
                    autoSelected: 'pan',
                    show: false
                },
            },
            colors: ['#C8530B'],
            series: [
            {
                name: "temperature",
                data: []
            }
            ],
            xaxis: {
                type: 'datetime',
                labels: {
                    show: true,
                },
                crosshairs: {
                    show: true,
                    width: 1,
                    stroke: {
                        color: '#0bc83e',
                        width: 1,
                        dasharray: 0,
                    }
                },
            },
            title: {
                text: macID,
                align: 'left',
                style: {
                    color: '#01530F'
                }
            }
        }
        return t_options; 
    }

    function createChart(macID) {
        dataCenter[macID].temperatureChart = new ApexCharts (
                    document.querySelector('#chart-temperature-' + macID),
                    create_temperature_options(macID)
                )
        dataCenter[macID].temperatureChart.render();

        dataCenter[macID].humidityChart = new ApexCharts(
                    document.querySelector('#chart-humidity-' + macID),
                    create_humidity_options(macID)
                )
        dataCenter[macID].humidityChart.render();
    }

  </script>
<% end %>

<%+footer%>
