<%+header%>
<%-
local string = require("string")
local json = require("luci.json")
local dbg = require "luci.dbg"
local dlog = dbg.Log:new()

local info_str = luci.sys.exec("coap-client -m get -b 10 coap://[2002::1122:3344:5566:1]:5683/vcSys/info") or "NoInfo"

local jstr = string.gsub(info_str, "v:1 t:CON c:GET i:%x+ {} %[%s%]", "")
local info_d = json.decode(string.gsub(info_str, "v:1 t:CON c:GET i:%x+ {} %[%s%]", ""))

function show_data(k)
    return string.upper(info_d[k])
end
-%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>

<fieldset class="cbi-section" style="display:none">
	<legend><%:Reconnecting interface%></legend>
	<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
	<span id="ifc-rc-status"><%:Waiting for changes to be applied...%></span>
</fieldset>

<h2><a id="content" name="content">WiSUN Root</a></h2>
<fieldset class="cbi-section">
	<legend><%:Information%></legend>

	<table width="100%" cellspacing="10">
		<tr><td width="33%"><%:Software Version%></td><td><%=show_data("sw version")%></td></tr>
		<tr><td width="33%"><%:Serial Number%></td><td><%=show_data("serial number")%></td></tr>
		<tr><td width="33%"><%:Carrier Frequency%><td><%=show_data("carrier frequency")%></td><td>
		</td></tr>
		<tr><td width="33%"><%:Net Name%></td><td><%=show_data("net name")%></td></tr>
		<tr><td width="33%"><%:PAN ID%></td><td><%=show_data("PAN id")%></td></tr>
		<tr><td width="33%"><%:Prefix%></td><td><%=show_data("prefix")%></td></tr>
		<tr><td width="33%"><%:EUI64%></td><td><%=show_data("eui64")%></td></tr>
		<tr><td width="33%"><%:Link Local Address%></td><td><%=show_data("link local addr")%></td></tr>
		<tr><td width="33%"><%:Global Address%></td><td><%=show_data("global addr")%></td></tr>
		<tr><td width="33%"><%:RPL Lifetime%></td><td><%=show_data("rpl lifetime")%></td></tr>
		<tr><td width="33%"><%:Management IP%></td><td><%=show_data("management ip")%></td></tr>
		<tr><td width="33%"><%:Management Port%></td><td><%=show_data("management port")%></td></tr>
	</table>
</fieldset>

<div class="cbi-map">
</div>

<%+footer%>
